/* All custom styles go here , overiding the bootstrap.css */
.custom-jumbotron{
    background-image: url("../img/bg-alt.png");
    background-position: center;

}

.custom-jumbotron-container{
    padding-top: 40px;
    color: white;
}

.custom-jumbotron-container h2{
    color: white;
    
}

.custom-process-icon{
    background: rgba(0,0,0,0.5); 
    padding-top: 50px; 
    height: 225px;
}

.custom-process-description{
    height: 225px; 
    background: rgba(255,255,255,0.0);
    padding-left: 75px;
}

.custom-triangle-style{
    width: 0;
	height: 0;
	border-top: 112.5px solid transparent;
	border-left: 40px solid rgba(0,0,0,0.5);
	border-bottom: 112.5px solid transparent;
    position: absolute;
    left: 33.33%;
    z-index: 0;
}

/* CSS for devices small width */
@media (max-width: 560px){
    .custom-jumbotron-container h2{
        color: white;
        font-size: 24pt;
    }
    
    .custom-jumbotron-container p{
        font-size: 12pt;
    }

}

@media (max-width: 767px){
    /*for mobile devices, we turn off the display for some required elements so everything aligns porperly and we don't waste space*/
    .custom-mobile-support-display-off{
        display: none;
    }
    
    .custom-mobile-support-display-university{
        background-image: url("../img/scotland-university-mobile.png");
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center;
        color:black;
    }
    
    .custom-mobile-support-display-graph-example-1{
        background-image: url("../img/graph-example-1.png");
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center;
        color:black;
    }
    
    /*update background for small screens*/
    @media (max-width: 450px){
        .custom-mobile-support-display-university{
            background-size: 60%;
        }
        
        .custom-mobile-support-display-graph-example-1{
            background-size: 60%;
        }
        
        
        .custom-process-icon h3{
        font-size: 6pt;
        }
        
        /*update for very small screens*/
         @media (max-width: 370px){
            .custom-mobile-support-display-university{
                background-size: 80%;
            }
            
            .custom-mobile-support-display-graph-example-1{
            background-size: 80%;
        }
        }
        /*--update-end--*/
    }
    /*update-end*/
}

.custom-footer-position-fix{
            background-color: #333;
            width: 100%;
            bottom: 0;
            position: fixed;
            margin-top: 100px;
}

.custom-hr {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
  margin-bottom: 100px;
}