<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">About Us</h2>
        <p class="text-center wow fadeInDown">Eduscope is an online career pathway finder that iterates over different job vacancies on the website to provide
            the user with the best match job based on their qualifications.</p>
    </div>
    <!--#TODO Replace the picture with something else-->
    <div style="text-align: right"><img src="images/13.jpg" width="40%" height="auto" img style="float: right; margin: 0px 0px 15px 15px;" /></div>
    <div class="row">
        <div class="col-sm-6 wow fadeInLeft">
            <p class="text-center wow fadeInDown">
                <h3>Our Values</h3>
                <br>
                <p><strong>PURPOSE:</strong> To enable users to fully examine career options and to help them make career decisions.
                    Give advice required and information on options across a variety of factors such as; previous earnings
                    and jobs, potential routes to obtain necessary qualifications, training involved and other opportunities
                    that may arise.
                </p>
                <br>
                <p><strong>AIMS:</strong> To make the process of finding a career easy without requiring a knowledge in computer
                    literate. To provide a secure system that is trustworthy and reliable.
                </p>
                <p><strong> OBJECTIVES:</strong> Make a user-friendly website. Provide a good visual appeal along with the content.
                    Rich sector knowledge to make a faster search time and accurate results.
                </p>
            </p>
        </div>
    </div>
</div>