<div class="container">
    <div class="row">
        <div class="col-sm-6">
            EDUSCOPE 2016 
        </div>
        <div class="col-sm-6">
            <ul class="social-icons">
                <li><a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </div>
</div>