<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">关于我们</h2>
        <p class="text-center wow fadeInDown">我们是一个致力于帮助学生未来的网络开发团队。 Eduscope就是其中之一， 这是我们创建的一个独一的应用来帮助学生们深刻地理解他们的学术生活对他们整个未来的影响。 </p>
    </div>
    <!--#TODO Replace the picture with something else-->
    <div style="text-align: right"><img src="" width="40%" height="auto" img style="float: right; margin: 0px 0px 15px 15px;" /></div>
    <div class="row">
        <div class="col-sm-6 wow fadeInLeft">
            <p class="text-center wow fadeInDown">
                <h3>我们的价值</h3>
                <br>
                <p><strong>目标:</strong> 高中学生毕业后经常不确定他们的未来， 并且经常在父母或同辈的压力下选择道路。

Eduscope就是防止这些发生。 学生们应该追求那些适合他们性格，资历和技能的工作。 这些都是在谨慎考虑下给学生们创造一个能追求他们梦想的道路。
                </p>
            </p>
        </div>
    </div>
</div>