    <section id="get-in-touch1">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">保持联系</h2>
            </div>
        </div>
    </section><!--/#get-in-touch-->
<br>

    <section id="contact">
        <div id="google-map" style="height:650px" data-latitude="25.271139" data-longitude="55.307485"></div>
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <div class="contact-form">
                            <h3>联系信息</h3>

                            <address>
                              <strong>EDUSCOPE, Inc.</strong><br>
                        
                              DUBAI,UAE<br>
                              <abbr title="Phone">电话E:</abbr> +97145566778
                              <br>
                              <abbr title="fax">传真:</abbr> +97145566778

                            </address>

                            <form id="main-contact-form" name="contact-form" method="post" action="#">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="姓名" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="邮箱" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="标题" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" rows="8" placeholder="信息" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">发送信息</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#bottom-->
