<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">About Us</h2>
        <p class="text-center wow fadeInDown">We are a Web Development team with ideas to help students with their futures. One of these is Eduscope, a unique application we have created to help students create an understanding of how their academic lives will affect their entire future. </p>
    </div>
    <!--#TODO Replace the picture with something else-->
    <div style="text-align: right"><img src="" width="40%" height="auto" img style="float: right; margin: 0px 0px 15px 15px;" /></div>
    <div class="row">
        <div class="col-sm-6 wow fadeInLeft">
            <p class="text-center wow fadeInDown">
                <h3>Our Values</h3>
                <br>
                <p><strong>PURPOSE:</strong> High School Students are often unsure of their future after their graduation, and often veer towards a career path based on peer or parental pressure.

Eduscope is here to ensure that this does not happen. Students should pursue careers that fit their personality, qualifications and skill sets. Each of these is taken under consideration to offer students the chance to create a path through which they can pursue their dreams.
                </p>
            </p>
        </div>
    </div>
</div>