<!-- we load qualificationForms.js on load of this page via app.js, Check qualificationForms.js -->

<h3 class="text-center">You are now adding a qulification</h3>
<hr>

<!-- FORM starts here  -->
<form class="form-horizontal" name="qualification_form" id="qualification_form">
    
    <!-- Form details
    The form details will be sent as POST data to the server in the following structure..
    name                values                  description
    type                school, university      type of the table we want to insert data in, the server will read this first to determine which fields to look for
    > FOR SCHOOL
    school_name         text limit:50
    grad_year           YYYY                    graduation year (for both school and university)
    qualification       1, 2, 3
    t_subjects          integer (1-10)          total subjects the student has taken
    subject_name_%i     list of subjects from db   Name of the subject, %i is the nth element of that kind
    subject_score_%i    number limit:100        Score aquired
    > FOR UNI
    uni_name            list limit:50
    grad_year
    qual_type
    : for standard qualification..
    qualification       list qualification // This wont be there if it's a custom uni'
    : for custom qualifications
    qual_name
    qual_short_name
    subject
     -->
    
    <!-- Select Basic -->
    <fieldset>
        <div class="form-group">
        <label class="col-sm-4 control-label" for="type">Type</label>
            <div class="col-sm-4 col-xs-12">
                <select id="type" name="type" class="form-control" required>
                <option selected="true" style="display:none;">Select type</option>
                <option value="school">School (GCSE, Scottish Highers, A levels)</option>
                <option value="university">University (Bachelors, Masters, PhD)</option>
                </select>
            </div>
        </div>
        
        <!-- School form -->
        <div hidden id="type_school">
            <div class="form-group">
            <label class="col-sm-4 control-label" for="school_name">School Name</label>
                <div class="col-sm-4 col-xs-12">
                    <input type="text" class="form-control" id="school_name" name="school_name" placeholder="eg. Cambridge School">
                </div>
            </div>
            <div class="form-group">
            <label class="col-sm-4 control-label" for="grad_year">Graduation Year</label>
                <div class="col-sm-4 col-xs-12">
                    <input type="number" class="form-control" id="grad_year" name="grad_year" placeholder="eg. 2010">
                </div>
            </div>
            <div class="form-group">
            <label class="col-sm-4 control-label" for="qualification">Qualification</label>
                <div class="col-sm-4 col-xs-12">
                    <select id="qualification" name="qualification" class="form-control">
                    <option selected="true" disabled style="display:none;">Select Qualification</option>
                    <option value="1">GCSE/S4</option>
                    <option value="2">AS Levels</option>
                    <option value="3">A Levels</option>
                    <option value="4">Scottish Highers</option>
                    <option value="5">Advance Scottish Highers</option>
                    </select>
                    <span class="help-block">Qualification you have obtained during year 11, 12 and/or 13</span>
                </div>
            </div>
            <div class="form-group" id="t_subjects_div">
            <label class="col-sm-4 control-label" for="t_subjects">Number of subjects taken</label>
                <div class="col-sm-4 col-xs-12">
                    <select id="t_subjects" name="t_subjects" class="form-control">
                        <option selected="true" disabled style="display:none;">No. of subjects taken</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
            </div>
            <!-- Subjects data will go here, check js/qualificationForm.js -->
            <div hidden id="subject_form_group"></div>
        </div>
        
        <!-- University form -->
        <div hidden id="type_university">
            <div class="form-group">
            <label class="col-sm-4 control-label" for="uni_name">University</label>
                <div class="col-sm-4 col-xs-12">
                    <select id="uni_name" name="uni_name" class="form-control">
                        <option selected="true" disabled style="display:none;">Select a university</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
            <label class="col-sm-4 control-label" for="grad_year">Graduation Year</label>
                <div class="col-sm-4 col-xs-12">
                    <input type="number" class="form-control" id="grad_year" name="grad_year" placeholder="eg. 2010">
                </div>
            </div>
            <div class="form-group">
            <label class="col-sm-4 control-label" for="qual_type">Type</label>
                <div class="col-sm-4 col-xs-12">
                    <select id="qual_type" name="qual_type" class="form-control">
                        <option selected="true" disabled style="display:none;">Choose a qualification type</option>
                    </select>
                </div>
            </div>
            <div hidden id="qualification_select">
                <div class="form-group">
                <label class="col-sm-4 control-label" for="qualification">Qualification</label>
                    <div class="col-sm-4 col-xs-12">
                        <select id="qualification" name="qualification" class="form-control">
                            <option selected="true" disabled style="display:none;">Select your qualification</option>
                        </select>
                    </div>
                </div>
                <hr style="width: 50px">
                <h3 class="text-center">..or add a qualification</h3>
                <div class="form-group">
                <label class="col-sm-4 control-label" for="qual_name">Qualification name</label>
                <div class="col-sm-4 col-xs-12">
                    <input type="text" id="qual_name" name="qual_name" class="form-control" placeholder="eg. Bachelors in Computer Systems (Honors)">
                    <span class="help-block">You can type the full name here such as Bachelors in x or Masters in y (Honors), etc.</span>
                </div>
                </div>
                <div class="form-group">
                <label class="col-sm-4 control-label" for="qual_short_name">short name</label>
                <div class="col-sm-4 col-xs-12">
                    <input type="text" id="qual_short_name" name="qual_short_name" class="form-control" placeholder="eg. BSc in Computer Systems (Hons)">
                    <span class="help-block">Short name for your qualification, e.g. BSc in a or BA in b or MSc in c</span>
                </div>
                </div>
                <div class="form-group">
                <label class="col-sm-4 control-label" for="subject">Qualification field</label>
                    <div class="col-sm-4 col-xs-12">
                        <select type="text" id="subject" name="subject" class="form-control">
                            <option selected="true" disabled style="display:none;">field of your qualification</option>
                        </select>
                        <span class="help-block">Note: Admins will verify the qualification added is real by cross checking with the university. if verficaition fails, the admins will remove this qualification.</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="text-center col-xs-12">
            <hr>
            <!-- All the user errors will go here -->
            <div hidden class="well custom-well-failure" id="qualification_form_errors"></div>
            <input disabled class="btn btn-primary" id="qualification_submit" type="submit" name="submit" value="Add"/>
            &nbsp;
            <button class="btn btn-danger" id="qualification_cancel">Cancel</button>
        </div>
    </fieldset>
</form>