<div id="mentor">
      <div class="container">
        <div class="center">
    <h2>Mentors<h2>
    <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for mentors">
      <span class="input-group-btn">
        <span class="glyphicon glyphicon-search"></span>
        <button class="btn btn-default" type="button">Submit</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<!--ADD search functions here-->
</div>

<p><span class="glyphicons glyphicon-user-add"></span> Add Mentor</p>

<p><span class="glyphicons glyphicon-check"></span> Mentor request accepted</p>

<p><span class="halflings halfling-comments"></span> Comments on user pathways</p>

<div role="tabpanel" class="tab-pane text-center fade" id="mentors">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>The users whom you are mentoring:</h3>
                                <!--ADD DB entries here-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Your mentors:</h3>
                               <!--ADD DB entries here-->
                            </div>
                        </div>
                    </div>
                  </div>
</div>