<div id="mentor">
<div class="box">
  <div class="container-4">
  	<h2>Mentors<h2>
      <span class="glyphicons glyphicons-search"></span>
      <form action="#search">
  <input type="search" id="search" placeholder="Search For Mentors">
  <input type="submit">
</form>
  </div>
</div>
</div>


<p><span class="glyphicons glyphicons-user-add"></span> Add Mentor</p>

<p><span class="halflings halflings-group"></span> Mentor request accepted</p>

<p><span class="halflings halflings-comments"></span> Comments on user pathways</p>

<p> Users whom you are mentoring: </p>
<dl>
  <dt><img src="img/fatema.jpg" alt="fatema" width="42" height="42"></dt>
  <dd> Fatema</dd>
  <dd><a href="">View profile</a></dd>
  <dd><span class="glyphicons glyphicons-remove-sign"></span> Remove</dd>
</dl>

<dl>
  <dt><img src="img/Habiba.jpg" alt="habiba" width="42" height="42"></dt>
  <dd>Habiba</dd>
  <dd><a href="">View profile</a></dd>
  <dd><span class="glyphicons glyphicons-remove-sign"></span> Remove</dd>
</dl>
