    <!---->
    <div class="header-left">
        <div class="logo">
            <a href="index.html"><img src="img/logo.svg" alt=""></a>
        </div>
        <div class="top-nav">
            <ul>
                <li class="active"><a href="profile.html">Overview</a></li>
                <li><a href="education.html" class="black"> Education and Experience</a></li>
                <li><a href="mentoring.html" class="black1"> Mentoring</a></li>
                <li><a href="contact.html" class="black2"> Contact</a></li>
                <li><a href="pathways.html" class="black2"> Pathways</a></li>
                <li><a href="resources.html" class="black3"> Resources</a></li>

            </ul>
        </div>
        <ul class="social-in">
            <li><a href="#"><i> </i></a></li>
            <li><a href="gmail.com"><i class="gmail"> </i></a></li>
            <li><a href="twitter.com"><i class="twitter"> </i></a></li>
            <li><a href="pinterest.com"><i class="pin"> </i></a></li>

        </ul>

    </div>
    <!---->
    <!---->
    <div class="header-top">
        <div class="logo-in">
            <a href="index.html"><img src="images/logo.png" alt=""></a>
        </div>
        <div class="top-nav-in">
            <span class="menu"><img src="images/menu.png" alt=""> </span>
            <ul>
                <li class="active"><a href="profile.html">Overview</a></li>
                <li><a href="education.html" class="black"> Education and Experience</a></li>
                <li><a href="mentoring.html" class="black1"> Mentoring</a></li>
                <li><a href="contact.html" class="black2"> Contact</a></li>
                <li><a href="pathways.html" class="black2"> Pathways</a></li>
                <li><a href="resources.html" class="black3"> Resources</a></li>

            </ul>
            <script>
                $("span.menu").click(function(){
						$(".top-nav-in ul").slideToggle(500, function(){
						});
					});
            </script>

        </div>
        <div class="clear"> </div>
    </div>