<h3> Here is your educational scope </h3>
<p id="path_error"></p>
<div class="row">
    <div id="pastPathway"></div>
    <div class="col-xs-12 panel panel-default">
        <div class="panel-body">
            <h1 style="color: #00cc00"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;You are here!</h1>
            <h3 id="maxQual">You have done </h3>
        </div>
    </div>
    <div id="futurePathway"></div>
    <div id="recommendations" class="col-xs-12 panel panel-default" hidden>
        <div class="panel-heading"><h2>Final recommendations</h2></div>
        <div class="panel-body">
        <h4>Your best field of study is <span id="r_subject"></span></h4>
        <h3>Universities</h3>
        <ul id="r_unis" class="list-group" style="color: black">
            <li class="list-group-item">We think you are good with this, so there is nothing to suggest</li>
        </ul>
        <h3>Qualifications</h3>
        <ul id="r_quals" class="list-group" style="color: black">
            <li class="list-group-item">We think you are good with this, so there is nothing to suggest</li>
        </ul>
        <h3>Jobs</h3>
        <ul id="r_jobs" class="list-group" style="color: black">
            <li class="list-group-item">We think you are good with this, so there is nothing to suggest</li>
        </ul>
        </div>
        <div class="panel-footer">
            <p>Please head to our resources section and have a look at the case studies</p>
            <p>and last but not the least..</p>
            <h1>Thank you for choosing EDU<i>SCOPE</i></h1>
        </div>
    </div>
</div>