    <div class="content">
        <div class="about">
            <div class="about-top">
                <div class="grid-about">
                    <a href="single.html"><img src="img/11.jpg" alt=""></a>
                </div>
                <br>
                <button><a href="" id="change_view_editProfile">Edit Profile</button>
					<h2><a>Who Am I?</a></h2>
                    <p><span id="userDetail_firstName">firstname</span>&nbsp;<span id="userDetail_lastName">lastname</span><br>
                        <span> Username: <span id="user_username">PS13</span><br>
					     <span>  Email: <span id="user_email">PS.W@gmail.com</span><br>
                        <span>currently <span id="userDetail_occupation"></span></span>
                        <span></p>
				<!--div class="staff">
					<h3>My work</h3>
						<div class="our">
						<a><img  src="img/p1.jpg" />
							<div class="simple">
								<h4>Project 1</h4>
							</div>
						</a>
						</div>
						<div class="our">
							<a><img  src="img/p2.jpg" />
							<div class="simple">
								<h4>Project 2</h4>
								
							</div>
						</a>						</div>
						<div class="our">
						<a><img  src="img/p3.jpg" />
							<div class="simple">
								<h4>Project 3</h4>
								
							</div>
						</a>
						</div>
						<div class="our">
						<a><img  src="img/p4.jpg" />
							<div class="simple">
								<h4>Project 4</h4>
								
							</div>
						</a></div>
						<div class="our">
						<a><img  src="img/p5.jpg" />
							<div class="simple">
								<h4>Project 5</h4>
								
							</div>
						</a></div>
						<div class="our">
						<a><img  src="img/p6.jpg" />
							<div class="simple">
								<h4>Project 6</h4>
								
							</div>
						</a></div>
						<div class="clear"> </div>
				
				</div-->
            </div>
				<div class="about-in">
					<div class="skills">
						<h3>My Skills</h3>
						<div class="our-skill">
							<div class="our-grid">
								<h5>Website Design</h5>
								<span>89%</span>
                        <div class="clear"> </div>
            </div>
            <div class="design">
                <label> </label>
                <b> </b>
                <div class="clear"> </div>
            </div>
        </div>
        <div class="our-skill">
            <div class="our-grid">
                <h5>Website Development</h5>
                <span>97%</span>
                <div class="clear"> </div>
            </div>
            <div class="design site">
                <label> </label>
                <b> </b>
                <div class="clear"> </div>
            </div>
        </div>
        <div class="our-skill">
            <div class="our-grid">
                <h5>Plugins</h5>
                <span>85%</span>
                <div class="clear"> </div>
            </div>
            <div class="design eight">
                <label> </label>
                <b> </b>
                <div class="clear"> </div>
            </div>
        </div>
        <div class="our-skill">
            <div class="our-grid">
                <h5>Front end</h5>
                <span>75%</span>
                <div class="clear"> </div>
            </div>
            <div class="design seven">
                <label> </label>
                <b> </b>
                <div class="clear"> </div>
            </div>
        </div>
    </div>
    <div class="test">
        <h3>Testimonials</h3>
        <div class="test-top">
            <div class="test-in">
                <img class="in-at" src="img/p7.jpg" />
                <h4 class="author">Collis Ta’eed - CEO at Envato</h4>
                <div class="clear"> </div>
            </div>
            <p>Sollicitudin lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio
                sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.</p>
        </div>
    </div>
    <!--div class="services">
        <h3>Services</h3>
        <ul class="service-grid">
            <li><a> Web Design </a></li>
            <li><a> Photography</a></li>
            <li><a>Plugin Development</a></li>
            <li><a>Pixel perfect Design</a></li>
            <li><a>Front-end</a></li>
            <li><a>Design from Scratch</a></li>
            <li><a>Website Maintenance</a></li>

        </ul>
    </div-->
</div>
<div class="clear"> </div>
</div>
</div>
<div class="clear"> </div>