<div class="text-center">
    <!--The main heading-->
    <h2 id="qv_heading"></h2>
    <hr>
    <!--sub heading-->
    <h3 id="qv_heading_2"></h3>
    <!--any dates will go here-->
    <h4 id="qv_date"></h4>
    <!--any message will go here-->
    <p id="qv_message"></p>
    <!--grades will be displayed here-->
    <div class="row">
    <div id="qv_marksheet" class="col-xs-6 col-xs-offset-3"></div>
    </div>
</div>
<hr>
<div>
    <button class="btn btn-warning" id="close_qualification_viewer">Close</button>
    <div class="pull-right">
        <button class="btn btn-danger" id="delete_qualification">Delete</button>
    </div>
</div>