<div id="resources">
<br>
<div class="container">
  <div class="text-center">
  <h2>Resources</h2>
  <h3>View case studies based on an area of study of your interest</h3>
</div>
<br>
     <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <!--Search bar-->
                <form name="resourcesSearch" id="resourcesSearch" enctype="multipart/form-data">
                    <div class="input-group">
                        <input type="text" class="form-control" name="query" placeholder="Search by keyword">
                        <span class="input-group-btn">
                                <button id="resourceSearch_submit" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>                  
                </div>
                <!--Serach results will be displayed here-->
                <div class="list-group custom-margin-top-20" hidden id="searchResults"></div>
                <!--All errors go here after submitting the search-->
                <div class="well custom-margin-top-20" hidden id="resourcesSearch_validation_errors"></div>
                <!--
                <input type="hidden" name="search_param" value="all" id="search_param">         
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            -->
            </div>
        </div>
    </div>
</div>

<!--ADD search results here-->
</div>
</div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<br>
<br>
 <!-- Nav tabs -->
        <ul class="nav nav-tabs " role="tablist">
            <li class="dropdown">
                <a href="#manage" role="tab" data-toggle="tab">Resources<span class="caret" class="dropdown-toggle" data-toggle="dropdown"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#view_c">Case Studies</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#view_f">Fields</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#view_j">Jobs</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#view_p">Programmes</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#view_u">Universities</a></li>
                    <li role="separator" class="divider"></li>

                </ul>
            </li>
        </ul>
        <div class="tab-content">
            <!--Resources: main-->
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1"></div> <!--Filler col-->
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="thumbnail">
                            <div class="caption">
                                <center><h3>Case Studies</h3></center>
                                <center><p><a href="#view_c" id="btn_manage_q" class="btn btn-primary" role="button">View</a></p></center>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="thumbnail">
                            <div class="caption">
                                <center><h3>Fields</h3></center>
                                <center><p><a href="##view_f" id="btn_manage_s" class="btn btn-primary" role="button">View</a></p></center>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="thumbnail">
                            <div class="caption">
                                <center><h3>Jobs</h3> </center>
                                <center><p><a href="##view_j" id="btn_manage_s" class="btn btn-primary" role="button">View</a></p> </center>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="thumbnail">
                            <div class="caption">
                               <center> <h3>Programmes</h3> </center>
                                <center><p><a href="##view_p" id="btn_manage_s" class="btn btn-primary" role="button">View</a></p></center>
                                <!--ADD DB entries here-->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="thumbnail">
                            <div class="caption">
                                <center><h3>Universities</h3> </center>
                                <center><p><a href="##view_u" id="btn_manage_s" class="btn btn-primary" role="button">View</a></p> </center>
                                <!--ADD DB entries here-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1"></div> <!--Filler col-->
                </div><!--./row-->
            </div>

            
            <!--Resources: case studies-->
            <div role="tabpanel" class="tab-pane fade" id="#view_c">
                <div class="row">
                    <div class="col-lg-12 text-center"><p>Case Studies</p></div>


            </div>
            <!--Resources: fields-->
            <div role="tabpanel" class="tab-pane fade" id="#view_f">
                <div class="row">
                    <div class="col-lg-12 text-center"><p>Skills</p></div>
                    <!--ADD DB entries here-->
                </div>

            <!--Resources: jobs-->
            <div role="tabpanel" class="tab-pane fade" id="#view_j">
                <div class="row">
                    <div class="col-lg-12 text-center"><p>Jobs</p></div>
                    <!--ADD DB entries here-->

            </div>
<!--Resources: programmes-->
            <div role="tabpanel" class="tab-pane fade" id="#view_p">
                <div class="row">
                    <div class="col-lg-12 text-center"><p>Programmes</p></div>
<!--ADD DB entries here-->

                </div>
            </div>
<!--Resources: universities-->
            <div role="tabpanel" class="tab-pane fade" id="#view_u">
                <div class="row">
                    <div class="col-lg-12 text-center"><p>Universities</p></div>
<!--ADD DB entries here-->
                </div>
            </div>
            <!--./Resources-->
        </div>
    </div>
</div> 
<!-- /container -->
<script>

$(document).ready(function(e){
    $('.search-panel .dropdown-menu').find('a').click(function(e) {
        e.preventDefault();
        var param = $(this).attr("href").replace("#","");
        var concept = $(this).text();
        $('.search-panel span#search_concept').text(concept);
        $('.input-group #search_param').val(param);
    });
});

$(document).ready(function(){
    initalize_resourcesSearchValidator();
});

</script>

