<header id="profile"></header>
<section id="settings">
        <div class="container">
    <div class="col-md-9">
            <div class="profile-content">
              <article class="box post">
                Edit User Profile
First name:


Last name:


Date of birth:


Gender:
Male
Female
Other

Education level:
Highschool student
University student

Username:


Email:


Enter a new password (or leave blank to keep password the same):


Country:


Preferred language:




                          
            </section>